
/*------------------------------------*\
		$VARS
\*------------------------------------*/

/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */



/*------------------------------------*\
		$FONT
\*------------------------------------*/

$base-font-size:         14px;

$base-font-family:       "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;

$second-font-family:     $base-font-family;

$headings-font-family:   $second-font-family;

$base-font-weight:       300;
$headings-font-weight:   300;



/*------------------------------------*\
		$FONT-SIZES
\*------------------------------------*/

$h-giga-size:            96px;
$h-mega-size:            72px;
$h-kilo-size:            48px;

$h1-size:                36px; // .h1
$h2-size:                30px; // .h2
$h3-size:                24px; // .h3
$h4-size:                21px; // .h4
$h5-size:                18px; // .h5
$h6-size:                16px; // .h6

$text-milli-size:        12px;
$text-micro-size:        10px;

$base-form-font-size:    $base-font-size;



/*------------------------------------*\
		$COLORS
\*------------------------------------*/

/**
 * Base colors
 */

$base-font-color:               #c7dcf1;
$base-font-color-dim:           #326b97;


$base-link-color:               #35adda;
$base-link-hover-color:         #fff;


$base-heading-color:            #448bc9;
$base-heading-color-dim:        #3b76a9;


$base-button-bg-color:          #7baa1b;
$base-button-color:             #fff;
$base-button-bg-hover-color:    #0492b6;

$hollow-button-border-color:    rgba(127,186,0,.53);
$hollow-button-bg-hover-color:  #93ca2c;


/**
 * Additional colors
 */

$slate-blue:                    #7b9aff;
$slate-blue-dim:                #425a8f;

$dim-blue:                      #314a63;
$dim-blue-dim:                  #192532;



/*------------------------------------*\
		$ASSETS
\*------------------------------------*/

$base-assets-path:       '../../assets/';
	$base-images-path:     '#{$base-assets-path}images/';
	$base-fonts-path:      '#{$base-assets-path}fonts/';

/**
 * Icon-font
 */

$base-icon-font:         fontello;
$base-icon-font-version: 83331666;


/**
 * Backgrounds
 */

$base-bg:                url(#{$base-images-path}bg.png) repeat;
$second-bg:              url(#{$base-images-path}bg--dark.png) repeat;



/*------------------------------------*\
		$OPTIONS
\*------------------------------------*/

$debug-mode:              false;

$global-border-box:       false;

$base-link-hover-unline:  false;

/**
* Elements and abstractions
*/

$use-arrows:        false;
$use-breadcrumb:    false;
$use-buttons:       true;
$use-flag:          false;
$use-forms:         false;
$use-grid:          true;
$use-icons:         true;
$use-island:        false;
$use-lists:         false;
$use-media:         false;
$use-nav:           true;
$use-tables:        false;
$use-tooltips:      false;

/**
* Responsive
*/

$responsive:              true;

$responsive-palm:         true;
$responsive-lap:          false;
$responsive-lap-and-up:   false;
$responsive-portable:     true;
$responsive-desk:         false;

$responsive-desk-wide:    false;

/**
* Responsive breakpoint's start.
*/

$lap-start:               720px;
$desk-start:              950px;
$desk-wide-start:         1200px;