
/*------------------------------------*\
		$VARS
\*------------------------------------*/

/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */



/*------------------------------------*\
		$FONT
\*------------------------------------*/

$base-font-size:         14px;

$base-font-family:       "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;

$second-font-family:     $base-font-family;

$headings-font-family:   $second-font-family;

$base-font-weight:       300;
$headings-font-weight:   300;



/*------------------------------------*\
		$FONT-SIZES
\*------------------------------------*/

$h-giga-size:            96px;
$h-mega-size:            72px;
$h-kilo-size:            48px;

$h1-size:                36px; // .h1
$h2-size:                30px; // .h2
$h3-size:                24px; // .h3
$h4-size:                21px; // .h4
$h5-size:                18px; // .h5
$h6-size:                16px; // .h6

$text-milli-size:        12px;
$text-micro-size:        10px;

$base-form-font-size:    $base-font-size;



/*------------------------------------*\
		$COLORS
\*------------------------------------*/

/**
 * Base colors
 */

$base-font-color:               #c7dcf1;
$base-font-color-dim:           #326b97;


$base-link-color:               #35adda;
$base-link-hover-color:         #8db4e2;


$base-heading-color:            #448bc9;
$base-heading-color-dim:        #3b76a9;


$base-button-bg-color:          #7baa1b;
$base-button-color:             #fff;


/**
 * Additional colors
 */

$slate-blue:                    #7b9aff;



/*------------------------------------*\
		$ASSETS
\*------------------------------------*/

$base-assets-path:       '../../assets/'!default;
	$base-images-path:     '#{$base-assets-path}images/'!default;
	$base-fonts-path:      '#{$base-assets-path}fonts/'!default;

/**
 * Icon-font
 */

$base-icon-font:         fontello;
$base-icon-font-version: 68035387;


/**
 * Backgrounds
 */

$base-bg:                       url(#{$base-images-path}bg.png) repeat;
$second-bg:                     url(#{$base-images-path}bg--dark.png) repeat;



/*------------------------------------*\
		$OPTIONS
\*------------------------------------*/

$debug-mode:        false;

$global-border-box: false;

/**
* Elements and abstractions
*/

$use-arrows:        false;

/**
* Responsive
*/

$responsive:        true;

$responsive-extra:  false;

/**
* Responsive breakpoint's start.
*/

$lap-start:         481px;
$desk-start:        1024px;
$desk-wide-start:   1200px;