
/*------------------------------------*\
		$TEMPLATE
\*------------------------------------*/


/**
 * Basic template styling. Applied to all pages
 */



/**
 * Custom HTML and body styling
 */

html { }

body { }



/**
 * Main wrapper styling
 */

.wrapper {
	position: relative;

	max-width: 1280px;

	padding-left:  $twice-spacing-unit;
	padding-right: $twice-spacing-unit;

	margin: 0 auto;
}



/**
 * Main container styling
 */

#content {
	position: relative;

	overflow: hidden; // to expand #content beyond margins
}



/**
 * Main header styling
 */

 .main-header {
 	padding-top: $half-spacing-unit;
 	padding-bottom: $half-spacing-unit;
 }



/**
 * Main content
 */

.landing-promo {
	background: url(#{$base-images-path}landing-promo-bg.jpg) top center no-repeat;

	padding-top: $base-spacing-unit * 5;
	padding-bottom: $base-spacing-unit * 5;
}


.landing-description {
	background: $second-bg;

	padding-top: $base-spacing-unit * 3;
	padding-bottom: $base-spacing-unit * 3;
}


.landing-features {
	padding-top: $base-spacing-unit * 4;
	padding-bottom: $base-spacing-unit * 4;
}


.landing-pre-footer {
	background: $second-bg;

	padding-top: $base-spacing-unit * 3;
	padding-bottom: $base-spacing-unit * 3;
}


/**
 * Main footer styling
 */

.main-footer {
	background-color: #090c0f;

	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit;
}



/**
 * css3 animation effects
 */

.trans400 {
	-webkit-transition: all 0.4s ease;
		 -moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			 -o-transition: all 0.4s ease;
					transition: all 0.4s ease;
}