
/*------------------------------------*\
		$TEMPLATE
\*------------------------------------*/


/**
 * Basic template styling. Applied to all pages
 */



/**
 * Custom HTML and body styling
 */

html { }

body { }



/**
 * Main wrapper styling
 */

.wrapper {
	position: relative;

	max-width: 1100px;

	padding-left:  $twice-spacing-unit;
	padding-right: $twice-spacing-unit;

	margin: 0 auto;
}



/**
 * Main container styling
 */

#content {
	position: relative;
}



/**
 * Main header styling
 */

 .main-header {
 	padding-top: $half-spacing-unit;
 	padding-bottom: $half-spacing-unit;

	background: url(#{$base-images-path}bg--stipped.png) top;

 }

 	.main-home__button {
 		padding-left: .5em;
 		padding-right: .5em;
 	}



/**
 * Main content
 */

.landing-promo {
	background: url(#{$base-images-path}landing-promo-bg.jpg) top center no-repeat;

	padding-top: $base-spacing-unit * 5;
	padding-bottom: $base-spacing-unit * 5;

	@include media-query (portable) {
		padding-top: $base-spacing-unit * 3;
		padding-bottom: $base-spacing-unit * 3;
	}

}

	.landing-promo__header {
		margin-bottom: $base-spacing-unit * 5;

		@include media-query (portable) {
			margin-bottom: $base-spacing-unit * 3;
		}

	}

	.landing-promo__try {

		@include media-query (portable) {
			text-align: center;

			margin-top: $twice-spacing-unit;
		}

		ul {

			@include media-query (portable) {
				display: inline-block;

				text-align: left;
			}

		}

	}

	.landing-promo__button--try { line-height: 3.5; }

	.landing-promo__button--buy { }

	/**
	 * 1. Hard-coded to keep width of buttons consistent
	 */

	.landing-promo__button--buy,
	.landing-promo__button--try {
		width: 240px; /* [1] */

		padding-right: 18px; /* [1] */
		padding-left: 18px; /* [1] */
	}


.landing-description {
	background: $second-bg;

	padding-top: $base-spacing-unit * 3;
	padding-bottom: $base-spacing-unit * 3;
}

	.landing-description__title {
		@include media-query (palm) { text-align: left!important; }
	}


.landing-features {
	padding-top: $base-spacing-unit * 4;
	padding-bottom: $base-spacing-unit * 4;
}

	.landing-feature { }

	.landing-feature + .landing-feature {
		margin-top: $base-spacing-unit * 6;

		@include media-query (palm) { margin-top: $base-spacing-unit * 3; }

	}

	.landing-feature__title:after {
		display: block;

		content: "";

		width: $base-spacing-unit * 3;
		height: 3px;

		background-color: #20394f;

		margin-top: $base-spacing-unit;
	}

	.landing-feature__description {

		@include media-query (palm) {
			padding-top: $twice-spacing-unit;
		}

	}


.landing-bottom-try {
	margin-bottom: -30px; // half of .landing-promo__button--try button hight
}


.landing-pre-footer_separator:after,
.landing-pre-footer_separator:before {
	top: -6px // to center fancy border
}


.landing-pre-footer {
	background: $second-bg;

	padding-top: $base-spacing-unit * 3;
	padding-bottom: $base-spacing-unit * 3;
}

	.landing-pre-footer__buy {

		@include media-query (palm) {
			margin-top: $base-spacing-unit * 3;
		}

	}



/**
 * Main footer styling
 */

.main-footer {
	background-color: #090c0f;

	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit;

	@include media-query (palm) { text-align: center; }

}

	.main-social__buttons {

		@include media-query (palm) {
			display: inlineblock;

			float: none!important;

			margin-top: $base-spacing-unit;
		}

	}



/**
 * css3 animation effects
 */

.trans400 {
	-webkit-transition: all 0.4s ease;
		 -moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			 -o-transition: all 0.4s ease;
					transition: all 0.4s ease;
}