
/*------------------------------------*\
		$BUTTONS
\*------------------------------------*/


.btn {

	&:hover {
		color: $base-button-color;
	}

	&:focus,
	&:active {
		@extend .trans400;

		background-color: #fff;
	}

	.icon {
		color: #fff;
	}

}