
/*------------------------------------*\
		$BUTTONS
\*------------------------------------*/


.btn {
	@extend .trans400;

	border: 1px solid #7baa1b;

	&:hover,
	&:focus,
	&:active {

		color: $base-button-color;

		background-color: $base-button-bg-hover-color;

		border: 1px solid $base-button-bg-hover-color;
	}

}



.btn--hollow {
	background-color: transparent;

	border: 1px solid $hollow-button-border-color;
}

	.btn--hollow--slate-blue {
		background-color: transparent;

		border: 1px solid $slate-blue-dim;
	}



.btn--dim-blue {
	color: $dim-blue;

	border: 1px solid $dim-blue-dim;

	background-color: $dim-blue-dim;
}