
/*------------------------------------*\
		$RESPONSIVE
\*------------------------------------*/


@mixin helpers-responsive ($namespace: "") {

	.#{$namespace}nav--unstack {

		> li { display: inline-block; }

	}

	.#{$namespace}text--center { text-align: center; }

	.#{$namespace}float--flush { font: none !important; }

	.#{$namespace}nav--stacked { }

	.#{$namespace}display--none { display: none; }

	.#{$namespace}display--block { display: block; }

}

@if $responsive == true {

	@include media-query (lap) {
		@include helpers-responsive ("lap-");
	}

} /* endif */